body {
  
    background-image: url("../Assets/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1600px 800px;
    background-position: center;
    text-align: center;
}

canvas {
  
    border-radius: 10px;
    text-align: center;
    border: 1px;
    margin-top:2%;
}

.game {
    width: 80%;
    margin: 0 auto;
}